* {
  padding: 0px;
  margin: 0px; }

@media only screen and (max-width: 800px) {
  header {
    background-color: #1a1c1d; }
    header nav {
      display: flex;
      justify-content: center;
      align-items: center; }
      header nav img {
        width: 30%;
        margin-left: 10px; }
      header nav ul {
        margin: 10px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse; }
        header nav ul li {
          list-style: none;
          margin: 20px;
          text-align: center; }
          header nav ul li a {
            text-decoration: none;
            font-size: 20x;
            color: white;
            font-family: "Roboto", sans-serif; } }

@media only screen and (min-width: 800px) {
  header {
    background-color: #1a1c1d; }
    header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 15vh; }
      header nav img {
        width: 100px; }
      header nav ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row-reverse; }
        header nav ul li {
          list-style: none;
          margin: 20px; }
          header nav ul li a {
            position: relative;
            text-decoration: none;
            font-size: 22px;
            color: white;
            font-family: "Roboto", sans-serif; }
          header nav ul li a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #ff5c5c, #d81010, #850c0c);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out; }
          header nav ul li a:hover::before {
            transform: scaleX(1); } }

@media only screen and (max-width: 800px) {
  .index .contenedor-h1 {
    height: 55vh;
    background-image: url(../recursos/header-jordan-1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center; }
    .index .contenedor-h1 h1 {
      padding: 10px;
      font-size: 30px;
      color: white; }
  .index .marcas-logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px; }
    .index .marcas-logos h2 {
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      color: white;
      background-color: #1a1c1d;
      width: 30vh;
      margin: 30px 30px 0px 30px; }
    .index .marcas-logos div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .index .marcas-logos div a {
        width: 50%;
        margin: 30px; }
        .index .marcas-logos div a img {
          width: 100%; }
  .index .algunos-modelos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .index .algunos-modelos .subtitulo {
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      color: white;
      background-color: #1a1c1d;
      width: 30vh;
      margin: 30px; }
    .index .algunos-modelos .caja {
      -webkit-box-shadow: inset 0px 0px 26px -4px black;
      -moz-box-shadow: inset 0px 0px 26px -4px black;
      box-shadow: inset 0px 0px 26px -4px black;
      width: 90%;
      margin: auto;
      border-radius: 5px;
      margin-bottom: 20px;
      background-color: #EDEDED;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .index .algunos-modelos .caja .subcaja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .index .algunos-modelos .caja .subcaja .cajazapa {
          -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          border-radius: 3px;
          background: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 20px;
          height: 100%; }
          .index .algunos-modelos .caja .subcaja .cajazapa .subzapa {
            padding: 20px;
            background-color: #852222;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: white;
            border-radius: 10px;
            margin-bottom: 20px; }
          .index .algunos-modelos .caja .subcaja .cajazapa .imgzapa {
            width: 80%;
            height: auto;
            background: none;
            height: 100%; } }

@media only screen and (min-width: 800px) {
  main .contenedor-h1 {
    background-image: url(../recursos/header-jordan-1.png);
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    background-size: cover;
    background-position: center; }
    main .contenedor-h1 h1 {
      text-align: center;
      margin: 10px;
      font-size: 50px;
      color: white; }
  main .marcas-logos {
    display: flex;
    background-color: #EDEDED;
    flex-direction: column;
    align-items: center; }
    main .marcas-logos h2 {
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      color: white;
      background-color: #1a1c1d;
      width: 30vh;
      margin: 30px 30px 0px 30px; }
    main .marcas-logos div {
      display: flex;
      justify-content: center; }
      main .marcas-logos div img {
        height: 90px;
        margin: 50px; }
      main .marcas-logos div a:hover {
        transform: scale(1.05); }
  main .algunos-modelos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .algunos-modelos .subtitulo {
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      color: white;
      background-color: #1a1c1d;
      width: 30vh;
      margin: 30px; }
    main .algunos-modelos .caja {
      -webkit-box-shadow: inset 0px 0px 26px -4px black;
      -moz-box-shadow: inset 0px 0px 26px -4px black;
      box-shadow: inset 0px 0px 26px -4px black;
      width: 90%;
      margin: auto;
      border-radius: 5px;
      margin-bottom: 20px;
      background-color: #EDEDED;
      display: flex;
      justify-content: center; }
      main .algunos-modelos .caja .subcaja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        main .algunos-modelos .caja .subcaja .cajazapa {
          -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.74);
          border-radius: 3px;
          background: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 20px;
          height: 100%; }
          main .algunos-modelos .caja .subcaja .cajazapa .subzapa {
            padding: 20px;
            background-color: #852222;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: white;
            border-radius: 10px;
            margin-bottom: 20px; }
          main .algunos-modelos .caja .subcaja .cajazapa .imgzapa {
            width: 80%;
            height: auto;
            background: none;
            height: 100%; }
        main .algunos-modelos .caja .subcaja .cajazapa:hover {
          background-color: #646464; }
          main .algunos-modelos .caja .subcaja .cajazapa:hover .subzapa {
            color: white; } }

@media only screen and (max-width: 800px) {
  footer {
    height: 100px;
    background-color: #1a1c1d;
    display: flex;
    justify-content: center; }
    footer .social {
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .social li {
        list-style: none;
        margin: 10px; }
      footer .social img {
        height: 50px; } }

@media only screen and (min-width: 800px) {
  footer {
    background-color: #1a1c1d;
    display: flex;
    justify-content: center; }
    footer .social {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .social li {
        list-style: none;
        margin: 50px; }
        footer .social li :hover {
          transform: scale(1.05); }
      footer .social img {
        height: 80px; } }

.mapa {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mapa h2 {
    margin: 30px; }
  .mapa iframe {
    margin-bottom: 30px;
    width: 70%; }

@media only screen and (min-width: 800px) {
  .nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 65vh; }
    .nosotros div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      font-size: 30px;
      font-family: "Roboto", sans-serif; }
    .nosotros img {
      width: 20%; } }

@media only screen and (max-width: 800px) {
  .nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; }
    .nosotros div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      font-size: 25px;
      font-family: "Roboto", sans-serif; }
    .nosotros img {
      width: 100px; } }

form {
  height: 60vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  form label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px; }
  form .principal {
    color: #666666;
    font-family: Arial; }
  form textarea {
    height: 30px;
    border-radius: 10px;
    background: #aaaaaa;
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
    color: #ffffff;
    height: 200px;
    width: 60%; }
  form input {
    height: 30px;
    width: 70%;
    border-radius: 10px;
    background: #aaaaaa;
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
    color: #ffffff; }
  form #submit {
    width: 85px;
    height: 40px;
    border: none;
    margin: 20px;
    cursor: pointer; }

@media only screen and (max-width: 800px) {
  .elemento .imagen-texto {
    -webkit-box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    margin: 20px;
    border-radius: 20px; }
    .elemento .imagen-texto .contenedor-imagen {
      display: flex;
      justify-content: center;
      align-items: center; }
      .elemento .imagen-texto .contenedor-imagen img {
        width: 85%; }
    .elemento .imagen-texto .contenedor-texto {
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: #dbdbdb;
      border-radius: 0px 0px 20px 20px; }
      .elemento .imagen-texto .contenedor-texto ul {
        list-style: none;
        display: flex;
        flex-direction: column; }
        .elemento .imagen-texto .contenedor-texto ul .modelo {
          text-align: center;
          font-size: 40px;
          padding: 10px; }
        .elemento .imagen-texto .contenedor-texto ul .brand {
          display: flex;
          align-items: center;
          margin: 10px;
          font-size: 30px; }
          .elemento .imagen-texto .contenedor-texto ul .brand img {
            height: 20px; }
        .elemento .imagen-texto .contenedor-texto ul .precio {
          font-size: 30px;
          margin: 10px; }
        .elemento .imagen-texto .contenedor-texto ul .talles {
          font-size: 30px;
          display: flex;
          margin: 10px; }
          .elemento .imagen-texto .contenedor-texto ul .talles ul {
            display: flex; }
            .elemento .imagen-texto .contenedor-texto ul .talles ul li {
              padding: 5px;
              border-radius: 2px;
              background-color: gray;
              margin: 5px; }
        .elemento .imagen-texto .contenedor-texto ul .boton-comprar {
          text-align: center;
          padding: 10px;
          font-size: 30px;
          background-color: #414bcf;
          color: white;
          border-radius: 10px; } }

@media only screen and (min-width: 800px) {
  .elemento .imagen-texto {
    -webkit-box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    box-shadow: 2px 0px 26px 5px rgba(0, 0, 0, 0.82);
    margin: 20px;
    border-radius: 20px;
    display: flex; }
    .elemento .imagen-texto .contenedor-imagen {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .elemento .imagen-texto .contenedor-imagen img {
        width: 85%; }
    .elemento .imagen-texto .contenedor-texto {
      width: 50%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #dbdbdb;
      border-radius: 0px 20px 20px 0px; }
      .elemento .imagen-texto .contenedor-texto ul {
        list-style: none;
        display: flex;
        flex-direction: column; }
        .elemento .imagen-texto .contenedor-texto ul .modelo {
          text-align: center;
          font-size: 40px;
          padding: 20px; }
        .elemento .imagen-texto .contenedor-texto ul .brand {
          display: flex;
          align-items: center;
          margin: 20px;
          font-size: 30px; }
          .elemento .imagen-texto .contenedor-texto ul .brand img {
            height: 20px; }
        .elemento .imagen-texto .contenedor-texto ul .precio {
          font-size: 30px;
          margin: 20px; }
        .elemento .imagen-texto .contenedor-texto ul .talles {
          font-size: 30px;
          display: flex;
          margin: 20px; }
        .elemento .imagen-texto .contenedor-texto ul .boton-comprar {
          text-align: center;
          padding: 10px;
          margin: 20px;
          font-size: 30px;
          background-color: #414bcf;
          color: white;
          border-radius: 10px; }
        .elemento .imagen-texto .contenedor-texto ul .boton-comprar:hover {
          background-color: #1f1fb1; } }

@media only screen and (min-width: 800px) {
  .head {
    width: 100%; }
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px; }
  .div1 {
    grid-area: 1 / 1 / 2 / 2; }
  .div2 {
    grid-area: 1 / 2 / 2 / 3; }
  .div3 {
    grid-area: 1 / 3 / 2 / 4; }
  .div4 {
    grid-area: 2 / 1 / 3 / 2; }
  .div5 {
    grid-area: 2 / 2 / 3 / 3; }
  .div6 {
    grid-area: 2 / 3 / 3 / 4; }
  .div7 {
    grid-area: 3 / 1 / 4 / 2; }
  .div8 {
    grid-area: 3 / 2 / 4 / 3; }
  .div9 {
    grid-area: 3 / 3 / 4 / 4; }
  h2 {
    margin: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 20px;
    background-color: #1a1c1d;
    border-radius: 5px;
    font-size: 30px;
    text-align: center; }
  .sneaker {
    border: 1px solid #a7a7a7; }
    .sneaker .imagen-texto {
      text-decoration: none;
      color: black; }
      .sneaker .imagen-texto .contenedor-imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white; }
        .sneaker .imagen-texto .contenedor-imagen img {
          width: 65%; }
      .sneaker .imagen-texto .contenedor-texto {
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #dbdbdb; }
        .sneaker .imagen-texto .contenedor-texto ul {
          list-style: none;
          display: flex;
          flex-direction: column; }
          .sneaker .imagen-texto .contenedor-texto ul .modelo {
            text-align: center;
            font-size: 25px;
            padding: 10px; }
          .sneaker .imagen-texto .contenedor-texto ul .brand {
            display: flex;
            align-items: center;
            margin: 10px;
            font-size: 18px; }
            .sneaker .imagen-texto .contenedor-texto ul .brand img {
              height: 20px; }
          .sneaker .imagen-texto .contenedor-texto ul .precio {
            font-size: 18px;
            margin: 10px; }
          .sneaker .imagen-texto .contenedor-texto ul .talles {
            font-size: 18px;
            display: flex;
            margin: 10px; }
            .sneaker .imagen-texto .contenedor-texto ul .talles ul {
              display: flex; }
              .sneaker .imagen-texto .contenedor-texto ul .talles ul li {
                padding: 5px;
                border-radius: 2px;
                background-color: gray;
                margin: 5px; }
          .sneaker .imagen-texto .contenedor-texto ul .boton-comprar {
            text-align: center;
            padding: 10px;
            font-size: 25px;
            background-color: #414bcf;
            color: white;
            border-radius: 10px;
            text-decoration: none; }
  .sneaker:hover {
    transform: scale(1.007); } }

@media only screen and (max-width: 800px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 10px; }
  .div1 {
    grid-area: 1 / 1 / 2 / 2; }
  .div2 {
    grid-area: 1 / 2 / 2 / 3; }
  .div3 {
    grid-area: 2 / 1 / 3 / 2; }
  .div4 {
    grid-area: 2 / 2 / 3 / 3; }
  .div5 {
    grid-area: 3 / 1 / 4 / 2; }
  .div6 {
    grid-area: 3 / 2 / 4 / 3; }
  .div7 {
    grid-area: 4 / 1 / 5 / 2; }
  .div8 {
    grid-area: 4 / 2 / 5 / 3; }
  .div9 {
    grid-area: 5 / 1 / 6 / 2; }
  .head {
    width: 100%; }
  h2 {
    margin: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 20px;
    background-color: #1a1c1d;
    border-radius: 5px;
    font-size: 20px;
    text-align: center; }
  .sneaker {
    border: 1px solid #a7a7a7; }
    .sneaker .imagen-texto {
      text-decoration: none;
      color: black; }
      .sneaker .imagen-texto .contenedor-imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white; }
        .sneaker .imagen-texto .contenedor-imagen img {
          width: 65%; }
      .sneaker .imagen-texto .contenedor-texto {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-color: #dbdbdb; }
        .sneaker .imagen-texto .contenedor-texto ul {
          list-style: none;
          display: flex;
          flex-direction: column; }
          .sneaker .imagen-texto .contenedor-texto ul .modelo {
            text-align: center;
            font-size: 20px;
            padding: 10px; }
          .sneaker .imagen-texto .contenedor-texto ul .brand {
            display: flex;
            align-items: center;
            margin: 10px;
            font-size: 15px; }
            .sneaker .imagen-texto .contenedor-texto ul .brand img {
              height: 15px; }
          .sneaker .imagen-texto .contenedor-texto ul .precio {
            font-size: 15px;
            margin: 10px; }
          .sneaker .imagen-texto .contenedor-texto ul .talles {
            font-size: 15px;
            display: flex;
            margin: 10px; }
            .sneaker .imagen-texto .contenedor-texto ul .talles ul {
              display: flex; }
              .sneaker .imagen-texto .contenedor-texto ul .talles ul li {
                padding: 5px;
                border-radius: 2px;
                background-color: gray;
                margin: 5px; }
          .sneaker .imagen-texto .contenedor-texto ul .boton-comprar {
            text-align: center;
            padding: 10px;
            font-size: 20px;
            background-color: #414bcf;
            color: white;
            border-radius: 10px;
            text-decoration: none; } }

.padre {
  display: flex; }
  .padre .sneaker {
    margin: 15px; }

@media only screen and (max-width: 800px) {
  .padre {
    flex-direction: column; }
    .padre .sneaker {
      margin: 20px; } }
