
.contacto{
    background: rgb(87,1,1);
    display: flex;
    justify-content: center;
    background: linear-gradient(153deg, rgba(87,1,1,1) 0%, rgba(130,26,26,1) 23%, rgba(227,42,42,1) 69%, rgba(255,137,137,1) 94%);;
}
form{
    width: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    padding: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
    -moz-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
    box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);

    label{
        margin: 8px;
        font-family: $roboto;
        font-size: 20px;
    }
    input,textarea{
        margin: 8px;
        height: 80px;
        font-family: $roboto;
        font-size: 20px;
    }
    textarea{
        height: 90px;
        overflow: scroll;
        resize: none;
    }
    
    #submit{
        background-color: #8b1010;
        color: white;
        font-family: $roboto;
        border-radius: 10px;
        height: 80px;
    }
    #submit:hover{
        background-color: rgb(221, 50, 50);
    }
}