
@media only screen and (max-width: 800px){
    .elemento{
        .imagen-texto{
            -webkit-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
            -moz-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
            box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
            margin: 20px;
            border-radius: 20px;
            
            .contenedor-imagen{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 85%;
                }
            }

            .contenedor-texto{

                padding: 20px;
                display: flex;
                flex-direction: column;

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;

                    .modelo{
                        text-align: center;
                        font-size: 40px;
                        padding: 10px;
                    }
                    .brand{
                        display: flex;
                        align-items: center;
                        margin: 10px;
                        font-size: 30px;
                        img{
                            height: 20px;
                        }
                    }
                    .precio{
                        font-size: 30px;
                        margin: 10px;
                    }
                    .talles{
                        font-size: 30px;
                        display: flex;
                        margin: 10px;
                        ul{
                            display: flex;
                            li{
                                padding: 5px;
                                border-radius: 2px;
                                background-color: gray;
                                margin: 5px;
                            }
                        }
                    }
                    .boton-comprar{
                        text-align: center;
                        padding: 10px;
                        font-size: 30px;
                        background-color: rgb(65, 75, 207);
                        color: white;
                        border-radius: 10px;
                    }
                }
                background-color: rgb(219, 219, 219);
                border-radius: 0px 0px 20px 20px;
            }    
        }
    }
}

@media only screen and (min-width: 800px){
    .elemento{
        .imagen-texto{
            -webkit-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
            -moz-box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);
            box-shadow: 2px 0px 26px 5px rgba(0,0,0,0.82);

            margin: 20px;
            border-radius: 20px;
            display: flex;
            .contenedor-imagen{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 85%;
                }
            }

            .contenedor-texto{
                width: 50%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;

                    .modelo{
                        text-align: center;
                        font-size: 40px;
                        padding: 20px;
                    }
                    .brand{
                        display: flex;
                        align-items: center;
                        margin: 20px;
                        font-size: 30px;
                        img{
                            height: 20px;
                        }
                    }
                    .precio{
                        font-size: 30px;
                        margin: 20px;
                    }
                    .talles{
                        font-size: 30px;
                        display: flex;
                        margin: 20px;
                    }
                    .boton-comprar{
                        text-align: center;
                        padding: 10px;
                        margin: 20px;
                        font-size: 30px;
                        background-color: rgb(65, 75, 207);
                        color: white;
                        border-radius: 10px;
                    }
                    .boton-comprar:hover{
                        background-color: rgb(31, 31, 177);
                    }
                }

                background-color: rgb(219, 219, 219);
                border-radius: 0px 20px 20px 0px;
            }    
        }
    }
}