$maincolor: #EDEDED;

@media only screen and (max-width: 800px){
    .index{
        .contenedor-h1{
            height: 55vh;
            background-image: url(../recursos/header-jordan-1.png);
            display: flex;
            justify-content: center;              
            align-items: center;
            background-size: cover;  
            background-position: center;
                
            h1{
                padding: 10px;
                font-size: 30px;
                color: rgb(255, 255, 255);
            }
    
        }
        
        .marcas-logos{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            h2{
                text-align: center;
                border-radius: 5px;
                padding: 10px;
                color: white;
                background-color: #1a1c1d;
                width: 30vh;
                margin: 30px 30px 0px 30px;
            }
            div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                img{
                    height: 150px;
                    width: 70%;
                    padding: 40px;
                    margin: 20px;
                    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                    -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                    border-radius: 3px;
                }
            }


        }
        .algunos-modelos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .subtitulo{
                text-align: center;
                border-radius: 5px;
                padding: 10px;
                color: white;
                background-color: #1a1c1d;
                width: 30vh;
                margin: 30px;            
            }
            .caja{
                -webkit-box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                -moz-box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                width: 90%;                    
                margin: auto;
                border-radius: 5px;
                margin-bottom: 20px;
                background-color: $maincolor;    
                display: flex;
                justify-content: center;
                flex-direction: column;
        
                .subcaja{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    .cajazapa{
                        -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        border-radius: 3px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 20px;
                        height: 100%;
                        
                        .subzapa{
                            margin: 20px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                        }
                        .imgzapa{
                            width: 80%;
                            height: auto;
                            background: none;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 800px){
    main{
        .contenedor-h1{
            background-image: url(../recursos/header-jordan-1.png);
            display: flex;
            justify-content: center;
            height: 60vh;
            align-items: center;
            background-size: cover;  
            background-position: center;
            
            h1{
                text-align: center;
                margin: 10px;
                font-size: 50px;
                color: rgb(255, 255, 255);
            }
    
        }
    
        .marcas-logos{
            display: flex;
            background-color: $maincolor;
            flex-direction: column;
            align-items: center;

            h2{
                text-align: center;
                border-radius: 5px;
                padding: 10px;
                color: white;
                background-color: #1a1c1d;
                width: 30vh;
                margin: 30px 30px 0px 30px;
            }
            div{
                display: flex;
                justify-content: center;
               img{
                    height: 50px;
                    margin: 20px;
                } 
            }
        }
    
        .algunos-modelos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .subtitulo{
                text-align: center;
                border-radius: 5px;
                padding: 10px;
                color: white;
                background-color: #1a1c1d;
                width: 30vh;
                margin: 30px;            
            }
            .caja{
                -webkit-box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                -moz-box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                box-shadow: inset 0px 0px 26px -4px rgba(0,0,0,1);
                width: 90%;
                margin: auto;
                border-radius: 5px;
                margin-bottom: 20px;
                background-color: $maincolor;    
                display: flex;
                justify-content: center;

                .subcaja{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                
                    .cajazapa{
                        -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.74);
                        border-radius: 3px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 20px;
                        height: 100%;
                        
                        .subzapa{
                            margin: 20px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                            color: black;
                        }
                        .imgzapa{
                            width: 80%;
                            height: auto;
                            background: none;
                            height: 100%;
                        }
                    }
                    .cajazapa:hover{
                        background-color: rgb(59, 59, 59);
                        .subzapa{
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}