.productos{

  .head{
    width: 100%;
  }

  h2{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #1a1c1d;
    width: 50vh;
    margin: 30px;
    font-size: 40px;
    font-family: $roboto;
  }

  .marca2{
    background-color: rgb(236, 236, 236);
  }

  .marcas{
    .logo{
      width: 25vh;
      margin: 50px 50px 30px 50px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .contenedor{
      display: flex;
      padding-bottom: 20px;
        .imagen-texto{
          border: 1px solid #a7a7a7;
          margin: 20px;
          text-decoration: none;
          color: black;
        .contenedor-imagen{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            img{
                width: 65%;
            }
        }

        .contenedor-texto{
            padding: 20px;
            display: flex;
            flex-direction: column;

            ul{
                list-style: none;
                display: flex;
                flex-direction: column;

                .modelo{
                    text-align: center;
                    font-size: 25px;
                    padding: 10px;
                }
                .brand{
                    display: flex;
                    align-items: center;
                    margin: 10px;
                    font-size: 18px;
                    img{
                        height: 15px;
                    }
                }
                .precio{
                    font-size: 18px;
                    margin: 10px;
                }
                .talles{
                    font-size: 18px;
                    display: flex;
                    margin: 10px;
                    ul{
                        display: flex;
                        li{
                            padding: 5px;
                            border-radius: 2px;
                            background-color: gray;
                            margin: 5px;
                        }
                    }
                }
                .boton-comprar{
                    text-align: center;
                    padding: 10px;
                    font-size: 25px;
                    background-color: rgb(65, 75, 207);
                    color: white;
                    border-radius: 10px;
                    text-decoration: none;
                }
            }
            background-color: rgb(219, 219, 219);
        } 
      }
      .imagen-texto:hover{
        transform: scale(1.007);
      }
    }
  }
}
